<div class="contact-detail">
    {% block contact_detail %}
        <a class="voicemail-link" href="{% url 'kbde_django_contact_us:VoicemailCreate' object.uuid %}">Leave a Voicemail</a>
        <a class="message-link" href="{% url 'kbde_django_contact_us:MessageCreate' object.uuid %}">Send a Message</a>
    {% endblock %}
</div>
