<div class="message-detail">
    {% block message_detail %}
        <div class="time">{{ object.time_sent }}</div>
        <div class="from-email">From: <a href="mailto:{{ object.email }}">{{ object.email }}</a></div>
        <div class="message">{{ object.message|linebreaks }}</div>
    {% endblock %}
</div>
