{% extends "kbde/django/views/Form.html" %}


{% block form_container %}

<div class="logout-view">
    {{ block.super }}
</div>

<script>

kbde.LogoutView = function(form_selector){
    var that = this
    that.$form = $(form_selector)
    that.$element = that.$form.parents(".logout-view")
    that.$logout_buttons = $(".logout-button")

    that.logout = function(){
        that.$form.submit()
    }

    that.$logout_buttons.click(that.logout)

    {% if not view.from_url %}
        that.$element.hide()
    {% endif %}
}

</script>

<script>
kbde.logout_view = new kbde.LogoutView("#form-{{ view.id }}")
</script>

{% endblock %}
