{% extends "./ListView.html" %}
{% load kbde %}


{% block object_list %}
    <style sass>
        .table-container tr[data-detail-url]:hover{
            cursor: pointer;
        }
    </style>

    <div class="table-container" id="table-{{ view.id }}">
        {% block table_container %}
        
            <table class="table">
                {% block table %}
                    <thead>
                        {% block thead %}
                            <tr>
                                {% block head_tr %}
                                    {% for label in labels %}
                                        <th>{{ label }}</th>
                                    {% endfor %}
                                {% endblock %}

                                {% block head_tr_end %}
                                    {% if update_url_name or delete_url_name %}
                                        <th class="edit-buttons"></th>
                                    {% endif %}
                                {% endblock %}
                            </tr>
                        {% endblock %}
                    </thead>

                    <tbody>
                        {% block tbody %}
                            {% for row in rows %}
                                <tr
                                    {% for attr, value in row.tag_attrs.items %}
                                        {{ attr }}="{{ value }}"
                                    {% endfor %}
                                >
                                    {% block tr %}
                                        {% for cell in row.data %}
                                            <td>{{ cell }}</td>
                                        {% endfor %}
                                    {% endblock %}

                                    {% block tr_end %}
                                        {% if update_url_name or delete_url_name %}
                                            <td class="edit-buttons">
                                                {% block edit_buttons %}

                                                    {% if row.update_url and request|has_permissions:row.update_url %}
                                                        {% block update_button %}
                                                            <a class="update-button"
                                                               href="{{ row.update_url }}">
                                                                {{ row.update_text }}
                                                            </a>
                                                        {% endblock %}
                                                    {% endif %}

                                                    {% if row.delete_url and request|has_permissions:row.delete_url %}
                                                        {% block delete_button %}
                                                            <a class="delete-button"
                                                               href="{{ row.delete_url }}">
                                                                {{ row.delete_text }}
                                                            </a>
                                                        {% endblock %}
                                                    {% endif %}

                                                {% endblock %}
                                            </td>
                                        {% endif %}
                                    {% endblock %}
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    </tbody>
                {% endblock %}
            </table>

            {% if not rows and table_empty_message %}
                <div class="table-empty-container">
                    {% block table_empty_container %}
                        <div class="table-empty-message">{{ table_empty_message }}</div>
                    {% endblock %}
                </div>
            {% endif %}

        {% endblock %}
    </div>

    <script>
    kbde.TableView = function(element){
        let that = this
        that.$element = $(element)
        that.$table = that.$element.find("table")
        that.$head = that.$table.find("thead")
        that.$body = that.$table.find("tbody")
        that.$rows = that.$table.find("tr")
        that.$head_rows = that.$head.find("tr")
        that.$body_rows = that.$body.find("tr")
        that.$detail_url_rows = that.$body_rows.filter("[data-detail-url]")

        that.get_id = function(){
            return that.$element.attr("id")
        }

        that.handle_detail_url_row_click = function(e){
            // Check to make sure that the user is not in the process of
            // selecting text
            let selection = window.getSelection()

            if (selection.toString().length !== 0){
                // The user was in the process of selecting text
                return null
            }

            let $row = $(this)
            let $clicked = $(e.target)
            
            // Do not handle clicks if they clicked on an anchor or button
            if (["A", "BUTTON"].indexOf($clicked.prop("tagName")) > -1){
                return null
            }

            window.location.href = $row.data("detailUrl")
        }

        that.$detail_url_rows.click(that.handle_detail_url_row_click)
    }

    kbde.TableViews = function(){
        let that = this
        that.views = {}

        that.add_view = function(table_view){
            that.views[table_view.get_id()] = table_view
        }
    }

    kbde.table_views = new kbde.TableViews()
    </script>

    <script>
    kbde.table_views.add_view(
        new kbde.TableView("#table-{{ view.id }}")
    )
    </script>
{% endblock %}
